DATABASE_URL=jdbc:mariadb://<database_host>:<port>/<database_name>?useSSL=false
DATABASE_USERNAME=<username>
DATABASE_PASSWORD=<password>
GMAIL_USERNAME=<username>
GMAIL_PASSWORD=<app_password>
REMEMBER_ME_KEY=<remember-me-key>
REMEMBER_ME_SECURE_COOKIE_ENABLED=<remember-me-secure_key(true|false)>
REMEMBER_ME_COOKIE_DOMAIN<remember-me-cookie-domain>
TZ=<timezone>