<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="mask" converterClass="com.luxferre.chroniqo.logging.MaskingConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40c{1} | %X{userId:-anonymous} | %mask%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
